body {
    background: #FCFFFE;
    font-family: Arial, helvetica, sans-serif;
}

.assignments{
    display:flex;
}

.assignment{
    padding: 10px;
    margin: 10px;
    background: #98ccb6;
    border-radius: 5px;
}

.assignment img{
    width: 200px;
    padding:10px;
    border: 4px solid #FFF
}

h1{
    color: #5D7F71;
    text-align: center;
}

h1:hover{
    color: #F25C69
}
